<?xml version="1.0" encoding="UTF-8" ?> <!--windows-1251 ISO-8859-1-->
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateTodayServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.CandidateTodayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.CandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.UploadServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.ohathaway.filter.AuthFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TitleServlet</servlet-name>
        <servlet-class>com.ohathaway.servlet.TitleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateServlet</servlet-name>
        <url-pattern>/candidate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateTodayServlet</servlet-name>
        <url-pattern>/candidateT.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/postnew.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TitleServlet</servlet-name>
        <url-pattern>/title.do</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <!--В url-pattern можно указать полный путь или маску поиска.
        * - все запросы.
        *.html - все запросы с расширением html. Например, index.html, users.html
        /static/* - запросы содержащие в URL блок /static/. Используется для кеширования css, js, html.
        Здесь используется маска *.do.Все запросы с расширением *.do будут обрабатываться нашим фильтром
         -->
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

</web-app>
